.navbar{
  background: transparent;
    .nav-item{
      margin-right: 20px;
    }
    a{
      color:white;
      font-family:Roboto;
      padding-top: 2px;
      cursor: pointer;
    }
    .dropdown-menu{
      background: transparent;
      button:hover{
        background: transparent;
      }
    }
    .active {
      color:3f51b5;
      border-bottom: 1px solid 3f51b5;
  }
}

.navbar-white{
  background-color: white;
  transition:1s;
  opacity:0.9;
  a{
    color:black;
    font-family:Roboto;
    padding-top: 2px;
    cursor: pointer;
  }
  .dropdown-menu{
    background: white;
  }
  .active {
    color:3f51b5;
    border-bottom: 1px solid #333;
}
}
