.navbar{
  background: transparent;
    .nav-item{
      margin-right: 20px;
    }
    a{
      color:white;
      font-family:Roboto;
    }
}

.navbar-white{
  background-color: white;
  transition:1s;
  opacity:0.9;
  a{
    color:black;
    font-family:Roboto;
  }
}
