.navbar {
  // background: transparent;
  background-color: rgba(0, 0, 0, 0.15);
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  transition: all .1s ease;
  height:85px;
  a{
    margin-left:16%;
  }
  .navbar-nav{
    margin-right:16%;
    .nav-item {
      margin-right: 50px;
    }
  }

  a {
    color: rgb(204, 204, 204);
    font-family: Roboto;
    padding-top: 2px;
    cursor: pointer;
  }

  // .dropdown-menu {
  //   background: transparent;

  //   button:hover {
  //     background: transparent;
  //   }
  // }

  .active {
    color: rgb(204, 204, 204);
    border-bottom: 1px solid rgb(204, 204, 204);
  }
}

.navbar_dark {
  background-color: #000;
  transition: all .1s ease;
  height:65px;

  a {
    color: rgb(204, 204, 204);
    font-family: Roboto;
    padding-top: 2px;
    cursor: pointer;
  }

  .dropdown-menu {
    background: rgb(204, 204, 204);
  }

  .active {
    color: rgb(204, 204, 204);
    border-bottom: 1px solid rgb(204, 204, 204);
  }
}