.footer-section{
  width:auto;
  height:27vh;
  background-color: black;
  // position: fixed;
  a{
    display: inline-block;
    padding:30px 10px 20px 10px;
    color:white;
    margin-top: 20px;
    cursor: pointer;
    &:hover{
      color:blue
    }
  }
  p{
    color:#808080;
  }
  hr{
    border-top: 1px solid #808080;
  }
  
}